<% layout('../layouts/main') %> 
<div class="row">
    <div class="col-4">
        <h1>Profil yaratish</h1>
        <form class="needs-validation" action="/register" enctype="multipart/form-data"  method="post" novalidate>
            <div class="mb-3">
                <label for="first_name" class="form-label">Ismingiz</label>
                <input type="text" id="first_name"  class="form-control" required name="user[first_name]" placeholder="Ismingiz">
            </div>
            <div class="mb-3">
                <label for="surname" class="form-label">Familiyangiz</label>
                <input type="text" id="surname" name="user[surname]" required class="form-control" placeholder="Familyangiz">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Elektron manzilingiz</label>
                <input type="email" id="email" name="user[email]" required class="form-control" placeholder="email@namuna.uz">
            </div>
            <div class="mb-3">
                <label for="avatar" class="form-label">Avatar</label>
                <input type="file" id="avatar" name="avatar" class="form-control">
            </div>
            <div class="mb-3">
                <label for="dob" class="form-label">Tug'ilgan yilingiz</label>
                <input type="date" id="dob" required name="user[dob]" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Parol</label>
                <input type="password" id="password" required name="user[password]" class="form-control" placeholder="parol">
            </div>
            <button class="btn btn-success">Ro'yxatdan o'tish</button>
        </form>
    </div>
</div>