<% layout('.././layouts/main') %> 
    <div class="container">
        <h1>Postni o'zgartirish</h1>
        <div class="row">
            <div class="col-4">
                <form class="needs-validation" action="/posts/<%= post._id %>?_method=PUT" novalidate method="post">
                    
                    <div class="mb-3">
                        <label class="form-label" for="title">Sarlavha</label>
                        <input class="form-control" value="<%= post.title %> " type="text" required id="title" name="post[title]">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="body">Matn</label>
                        <textarea class="form-control" id="body" required name="post[body]"><%= post.body %> </textarea>
                    </div>
                    <button class="btn btn-success">Postni o'zgartiring</button>
                </form>
            </div>
        </div>
    </div>




